/* Google Font CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  list-style-type: none;
}

:root {
  --dark-one: #333;
  --dark-two: #7a7a7a;
  --main-color: #784cfb;
  --light-one: #fff;
  --light-two: #f9fafb;
  --light-three: #f6f7fb;
}


/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #6a6cff;
  border-radius: 12px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #4070f4;
}

/* popup */
.popup-screen{
  z-index: 999999;
  position: fixed;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: 0.5s ease;
  transition-property: visibility;
}

.popup-screen.active{
  visibility: visible;
}
.popup-box{
    position: relative;
    background-color: #fff;
    backdrop-filter: blur(10px);
    max-width: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 30px;
    box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
    border: 1px solid var(--main-color);
    transform: scale(0);
    transition: 0.5s ease;
    transition-property: transform;
    border-radius: 5px;
}

.popup-screen.active .popup-box{
  transform: scale(1);
}

.popup-box h2{
  font-size: 20px;
  font-weight: 600;
}

.popup-box p{
  margin-bottom: 30px;
  color: #333;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  
}
.close-btn{
  position: absolute;
  font-size: 1em;
  top: 0;
  right: 0;
  margin: 15px;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s ease;
  transition-property: opacity;
}

.close-btn:hover{
  opacity: 1;
}

form{
  width: 98%;
}

form .field{
  margin-bottom: 10px;
  height: 45px;
}
form .field input,
form .message textarea{
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 0px 0 15px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.field input::placeholder,
.message textarea::placeholder{
  color: #ccc;
}
.field input:focus,
.message textarea:focus{
  border: 2px solid #0D6EFD;
}

form .message{
  position: relative;
}

form .message textarea{
  min-height: 70px;
  max-height: 230px;
  max-width: 100%;
  min-width: 100%;
  padding: 14px 0px 0 15px;
}
form .message textarea::-webkit-scrollbar{
  width: 0px;
}
.message textarea:focus{
  padding-top: 14px;
}
form .button-area{
  margin: 25px 0 10px 0 ;
  align-items: center;
}
.button-area button{
  color: #fff;
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  padding: 8px 25px;
  background: #0D6EFD;
  transition: background 0.3s ease;
  display: inline-block;
}
.button-area button:hover{
  background: #025ce3;
}
.button-area span{
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: -20px;
  display: none;
  text-align: center;
}



/* navbar styling */
nav {
  /* position: fixed; */
  width: 100%;
  padding: 20px 0;
  z-index: 998;
  transition: all 0.3s ease;
  font-family: "", sans-serif;
}
nav.sticky {
  /* background: #796aff; */
  /* background-color: #D5F3FF; */
  background-color: #fff;
  padding: 13px 0;
}
nav .navbar {
  display: flex;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
nav .navbar .logo a {
  font-weight: 600;
  font-size: 30px;
  color: #000000;
}
nav.sticky .navbar .logo a {
  color: rgb(79, 4, 255);
}
nav .navbar .menu {
  display: flex;
  position: relative;
}
nav .navbar .menu li {
  list-style: none;
  margin: 0 18px;
}
.navbar .menu a {
  font-size: 18px;
  font-weight: 400;
  color: #0e2431;
  padding: 6px 0;
  transition: all 0.4s ease;
}
.navbar .menu a:hover {
  color: #4070f4;
}
nav.sticky .menu a {
  color: rgb(0, 0, 0);
}
nav.sticky .menu a:hover {
  color: #0e2431;
}
.navbar .media-icons a {
  color: #000000;
  font-size: 20px;
  margin: 0 6px;
  
}
nav.sticky .media-icons a {
  color: rgb(0, 0, 0);
}

/* Side Navigation Menu Button CSS */
nav .menu-btn,
.navbar .menu .cancel-btn {
  position: absolute;
  color: #fff;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}
nav .menu-btn {
  color: #4070f4;
}
nav.sticky .menu-btn {
  color: #fff;
}
.navbar .menu .menu-btn {
  color: #fff;
}

/* Scroll TO Top Button CSS */
.scroll-button a {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #1115ff;
  padding: 7px 12px;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
  display: none;
}

.community1 {
  max-width: 1200px;
  margin: auto;
  padding-top: 10px;
  /* height: 80vh; */
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
}

.col-1 {
  flex-basis: 60%;
  position: relative;
}

.col-1 h2 {
  font-size: 34px;
  color: rgb(49, 52, 60);
}

.col-1 h3 {
  font-size: 30px;
  color: #707070;
  font-weight: 100;
  margin: 20px 0 10px;
}

.col-1 p {
  font-size: 16px;
  columns: #b7b7b7;
  font-weight: 100;
}

.col-1 h4 {
  margin: 20px 0;
  font-size: 20px;
}

.col-2 {
  position: relative;
  flex-basis: 60%;
  display: flex;
  align-items: center;
}
.col-2 .home-img {
  width: 90%;
}

.color-box {
  position: absolute;
  right: 0;
  top: 0;
  /* background-color: rgb(174, 155, 245); */
  background-color: #784cfb;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  z-index: -1;
  /* transform: translateX(150px); */
}

.community {
  /* background: #d5f3ff; */
  background-color: #f6f7fb;
}

.card-img img {
  width: 100%;
  height: 11rem;
  border-radius: 8px;
}

.wrapper {
  padding: 20px;
  max-width: 1240px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrapper .card {
  background: rgb(255, 255, 255);
  width: calc(33% - 20px);
  padding: 20px 20px;
  position: relative;
  border: 1px solid transparent;
  border-radius: 8px;
}
.card-content h2 {
  margin: 1rem 0;
  color: rgb(44, 44, 150);
}
.card .btn {
  width: 100%;
  display: flex;
  margin-top: 30px;
  justify-content: center;
}
.card .btn button {
  width: 80%;
  height: 40px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  /* background: linear-gradient(313deg,rgba(149, 0, 255, 1) 19%,rgba(17, 4, 249, 1) 100%,rgba(3, 4, 248, 1) 100%); */
  background-color: var(--main-color);
  transition: all 0.3s ease;
}
/* .card .btn button {
  background: linear-gradient(313deg,rgba(149, 0, 255, 1) 19%,rgba(17, 4, 249, 1) 100%,rgba(3, 4, 248, 1) 100%);
} */
.card .btn button:hover {
  /* background: linear-gradient(313deg,rgba(149, 0, 255, 1) 19%,rgba(17, 4, 249, 1) 100%,rgba(3, 4, 248, 1) 100%); */
  color: rgb(255, 255, 255);
  background-color: rgb(88, 26, 231);
}




.footer {
  background-color: #222;
  padding:4rem 0;
}

.container1{
  max-width: 1240px;
  margin: 0 auto;
}

.footer .grid-4 {
  display: grid;
  grid-template-columns: 3.5fr 2fr 2fr 3fr;
}

.grid-4-col {
  padding: 0 2rem;
}

.footer .title-sm {
  color: #fafafa;
  margin-bottom: 0.9rem;
  list-style-type: none;
}



.footer .text {
  color: #aaa;
}

.footer-links a {
  color: #888;
  font-size: 1rem;
  display: inline-block;
  margin-bottom: 0.4rem;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #fff;
}

.footer-input-wrap {
  display: grid;
  grid-template-columns: auto 50px;
  width: 100%;
  height: 50px;
  border-radius: 30px;
  overflow: hidden;
  margin-top: 1.2rem;
}

.footer-input {
  background: #373737;
  color: #333;
  outline: none;
  border: none;
  padding: 0 1.5rem;
  font-size: 1.1rem;
  transition: 0.3s;
}
.footer-input:focus {
  background: #eaeaea;
}

.input-arrow {
  color: #fff;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.45rem;
  transition: 0.3s;
}

.input-arrow:hover {
  background-color: #6b44e0;
}

.focus {
  background: #fff;
}

.bottom-footer {
  margin-top: 5.5rem;
  /* padding: 0 1.7rem; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.copyright .text {
  color: #7b7b7b;
  font-size: 1.2rem;
  display: inline-block;
  text-align: center;
}

.copyright .text span {
  color: var(--main-color);
  cursor: pointer;
}

.followme-wrap {
  display: flex;
}

.followme {
  display: flex;
  align-items: center;
}

.followme h3 {
  color: #7b7b7b;
  font-weight: 500;
  font-size: 1.3rem;
}

.followme .footer-line {
  width: 60px;
  height: 2px;
  background-color: #7b7b7b;
  margin: 0 1.2rem;
  display: inline-block;
}

.social-media a {
  color: #7b7b7b;
  font-size: 1.3rem;
  margin-right: 0.4rem;
  transition: 0.3s;
}

.social-media a:hover {
  color: #fff;
}



